DATABASE_URL=
JWT_SECRET=
SUPABASE_URL=
BOT_TOKEN=
PROD_BOT_TOKEN=
CRM_SUPER_PASSWORD=
CRM_ADMIN_PASSWORD=
CREATOR_PASSWORD=
AWS_REKOGNITION_REGION=us-east-1
AWS_REKOGNITION_COLLECTION_ID=point-face-verification
AWS_FACE_DUPLICATE_THRESHOLD=97
AWS_FACE_MAX_DUPLICATE_MATCHES=5
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

NGROK_DOMAIN=logical-overly-quail.ngrok-free.app
VITE_ERUDA_ENABLED=false
