DATABASE_URL=
JWT_SECRET=
SUPABASE_URL=
BOT_TOKEN=
PROD_BOT_TOKEN=
CRM_SUPER_PASSWORD=
CRM_ADMIN_PASSWORD=
CREATOR_PASSWORD=

NGROK_DOMAIN=logical-overly-quail.ngrok-free.app
VITE_ERUDA_ENABLED=false
